<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>977136543139-oh010vabl4e5hhbndi6ul6t7entbf428.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977136543139-oh010vabl4e5hhbndi6ul6t7entbf428</string>
	<key>API_KEY</key>
	<string>AIzaSyCaC1DaTgpyI0r_dXCGfWqXae10a217Lkc</string>
	<key>GCM_SENDER_ID</key>
	<string>977136543139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cl.euroamerica.rentasvitalicias</string>
	<key>PROJECT_ID</key>
	<string>catena-263015</string>
	<key>STORAGE_BUCKET</key>
	<string>catena-263015.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977136543139:ios:3920dca47ec64773af6616</string>
	<key>DATABASE_URL</key>
	<string>https://catena-263015.firebaseio.com</string>
</dict>
</plist>